<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>car-service-system</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CustomerRegister</display-name>
		<servlet-name>CustomerRegister</servlet-name>
		<servlet-class>com.gqt.controller.CustomerRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerLogin</display-name>
		<servlet-name>CustomerLogin</servlet-name>
		<servlet-class>com.gqt.controller.CustomerLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddCarDetails</display-name>
		<servlet-name>AddCarDetails</servlet-name>
		<servlet-class>com.gqt.controller.AddCarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestService</display-name>
		<servlet-name>RequestService</servlet-name>
		<servlet-class>com.gqt.controller.RequestService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceStatus</display-name>
		<servlet-name>ServiceStatus</servlet-name>
		<servlet-class>com.gqt.controller.ServiceStatus</servlet-class>
	</servlet>
<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.gqt.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerList</display-name>
		<servlet-name>CustomerList</servlet-name>
		<servlet-class>com.gqt.controller.CustomerList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateServiceStatus</display-name>
		<servlet-name>UpdateServiceStatus</servlet-name>
		<servlet-class>com.gqt.controller.UpdateServiceStatus</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>CustomerRegister</servlet-name>
		<url-pattern>/CustomerRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerLogin</servlet-name>
		<url-pattern>/CustomerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCarDetails</servlet-name>
		<url-pattern>/AddCarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestService</servlet-name>
		<url-pattern>/RequestService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceStatus</servlet-name>
		<url-pattern>/ServiceStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerList</servlet-name>
		<url-pattern>/CustomerList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServiceStatus</servlet-name>
		<url-pattern>/UpdateServiceStatus</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
